{% extends "base.html" %}
{% load static %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/add_money.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="form-group">
        <label for="wallet" >Current Wallet Balance</label><br>
        <input class="form-control " type="text" id="wallet" data-id="{{user.id}}"
               name="wallet" value="{{wallet.current_balance}}" disabled>
    </div>

    <div class="form-group">
        <label for="amount">Amount</label><br>
        <input class="form-control" type="number" data-csrf="{{ csrf_token }}"  id="amount" name="amount" value="0">
    </div>

    <div class="form-group">
        <label for="curr_dropdown">Currency Type</label><br>
        <select id="curr_dropdown" name="curr_dropdown" class="form-control">
                            {% for curr in currencies %}

            <option value="{{ curr.id }}" {% if curr.name == user.default_currency.name %} selected {% endif %}>
                {{ curr.name }}
            </option>
                        {% endfor %}

        </select>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-outline-success btn-block" id="addmoney-submit"> Add Money
        </button>
    </div>
{% endblock %}