<form action="/action_page.php" role="form" method="post">
  <label for="user1">From</label><br>
  <input type="text" id="user1" name="user_id" value="John" disabled><br>

    <label for="lname">To</label><br>
    <div class="col-sm-10">

        <select id="sd" name="to" class="form-control">
      <option value="" selected>None</option>
      <option value="test">test</option>
      <option value="test">test2</option>
    </select>
  </div>

    <div class="form-group">
      <label for="{{ form.club.id_for_label }}" class="col-sm-2 control-label">Club</label>
      <div class="col-sm-10">
        <select id="{{ form.club.id_for_label }}" name="{{ form.club.html_name }}" class="form-control">
          <option value="" selected>None</option>
          {% for club in clubs %}
          <option value="{{ club.club_id }}">{{ club.nickname }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

  <label for="lname">users</label><br>
  <div class="col-sm-10">
    <select id="sd" name="to" class="form-control">
      <option value="" selected>None</option>
      <option value="test">user1</option>
      <option value="test">user2</option>
    </select>
  </div>
  <label for="fname">Amount</label><br>
  <input type="number" id="amount" name="amount" value=10><br>
  <input type="submit" value="Submit">
</form>